<div class="row">
    <div class="col-md-4">
        <h3>
            Seleccioanar archivos
        </h3>
        <div appNgDropZone (mouseLeave)="drop = $event" [ngClass]="{ 'file-over': drop }" class="well drop-zone">
            <h4>Arrastre aqui los archivos que desea cargar</h4>
            <img src="assets/img/drop-images.png">
        </div>
    </div>
    <div class="col-md-8">
        <h4>Cargar archivos</h4>
        <button (click)="loadImages()" [disabled]="Images.length == 0" class="btn btn-success">Cargar archivos</button>
        <button class="btn btn-warning">Limpiar</button>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre del archivo</th>
                    <th>Tamaño</th>
                    <th>Progreso</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>test</td>
                    <td>10MB</td>
                    <div style="margin-top:20px" class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 25%"></div>
                    </div>
                </tr>
            </tbody>
        </table>
    </div>
</div>